@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  min-height: 100%;
}

.container-gwen {
  @apply container px-8 mx-auto;
}

#hamburger.open div:first-child {
  --tw-translate-y: 0.375rem;
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

#hamburger.open div:last-child {
  --tw-translate-y: -0.25rem;
  --tw-rotate: -45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.blob-image {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% !important;
}

.post_content {
  @apply text-lg text-slate-900;
}

.post_content p:not(:first-child) {
  @apply mt-4;
}

.post_content ul {
  @apply list-disc;
}

.post_content ol {
  @apply list-decimal;
}

.post_content ol,
.post_content ul {
  @apply list-inside space-y-4;
}

.post_content ol > li:first-child,
.post_content ul > li:first-child {
  @apply mt-4;
}

.post_content a {
  @apply underline text-orange-500;
}
